.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 230px 1fr;
  grid-column-gap: 15px;
}

.column_first, .column_second {
  display: flex;
  flex-direction: column;
}

.block {
  margin-top: 15px;
}

.block:first-child {
  margin-top: 0;
}


