.users {
    display: grid;
    grid-template-columns: auto 230px;
    grid-column-gap: 15px;
    font-size: 1rem;
}

.user_card {
    overflow: hidden;
}

.header {
    padding: 0 20px;
    height: 54px;
    border-bottom: 1px solid var(--steel_gray_80);
    line-height: 54px;
    color: black;
}

.count_people {
    margin-left: 13px;
    font-size: 0.9em;
    color: var(--gray_400);
}

.search {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 20px;
    line-height: 54px;
    font-size: 1rem;
    color: black;
    border-bottom: 1px solid var(--steel_gray_80);
}

.pagination {
    overflow-x: auto;
    overflow-y: hidden;
    height: 71px;
}

.users_list {
    padding: 0 20px;
}

.show_btn {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-top: 1px solid var(--steel_gray_120);
}





