.main_posts {
  padding: 15px;
}

.new_post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--steel_gray_80);
}

.message {
  border: 1px solid var(--steel_gray_80);
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  min-height: 50px;
  max-height: 100px;
  padding: 9px 13px 9px 13px;
  margin: 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 17px;
  box-sizing: border-box;
  outline: 0;
}
