.form {
  display: flex;
  align-items: center;
  width: 100%;
}

.textarea {
  height: 60px;
  min-height: 50px;
  max-height: 200px;
  resize: none;
  border: 1px solid var(--steel_gray_120);
}

.button {
  margin-left: 20px;
}
