.nav {
  grid-area: nav;

  &__item {
    padding: 5px;
  }

  &__link {
    color: $colorText;
    text-decoration: none;
    display: block;
    white-space: nowrap;

    &:hover {
      background: #dce1e6;
      border-radius: 2px;
    }
  }
}