:root {
  --mainColor: #4a76a8;
  --colorText: #2a5885;
  --backgroundBody: #edeef0;
  --backgroundComponent: #fff;
  --steel_gray_120: #d3d9de;
  --steel_gray_80: #e7e8ec;
  --steel_gray_10: #fafbfc;
  --textGray: #828282;
  --buttonBg: #5181b8;
  --buttonGray: #e5ebf1;
  --gray_400: #939393;
  --gray_600: #656565;

  --heightHeader: 42px;
}
