.message {
  border: 1px solid var(--steel_gray_80);
  min-height: 100px;
  max-height: 150px;
  resize: vertical;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 10px;
}

.button {
  margin-left: 10px;
  align-self: flex-start;
}
