.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--heightHeader);
  background: var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 34px;
}

.profile {
  display: flex;
  text-decoration: none;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.login {
  color: var(--white);
  padding: 0 10px;
  font-weight: bold;
}

.profile:hover {
  background: var(--blue_980_alpha12);
}
