.main_profile_info {
  padding: 15px;
}

.item {
  padding: 10px 0;
  position: relative;
  border-bottom: 1px solid var(--steel_gray_80);
}

.item:first-child {
  padding-top: 0;
}

.row {
  display: flex;
}

.label {
  color: var(--textGray);
}

.labeled {
  margin-left: 10px;
}
