.main_profile_info {
  padding: 15px;
}

.item {
  padding: 10px 0;
  position: relative;
  border-bottom: 1px solid var(--steel_gray_80);
}

.item:first-child {
  padding-top: 0;
}

.row, .contact {
  display: flex;
}

.contact {
  padding-left: 10px;
}

.contact_title {
  border-top: 1px solid var(--steel_gray_80);
  margin-top: 10px;
  padding-top: 5px;
}

.label {
  color: var(--textGray);
}

.labeled {
  margin-left: 10px;
}
