@import './styles/variables.css';

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: var(--colorText);
  background: var(--backgroundBody);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
  color: var(--black);
}

h3 {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='checkbox'] {
  cursor: pointer;
}

input[type='radio'] {
  cursor: pointer;
  position: relative;
  top: 1.5px;
}
