.card {
  @include card;
}

.button_blue {
  @include button($buttonBg, white)
}

.button_gray {
  @include button(#e5ebf1, $colorText)
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
  color: black;
}

.mini-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mini-avatar-02 {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.card-title {
  display: flex;
  margin: 0 0 10px 10px;
  color: black;

  span {
    margin-left: 10px;
    color: $textGray;
  }
}

.line {
  width: 100%;
  height: 1px;
  margin: 10px 5px;
  background: $steel_gray_120;
}