@mixin card {
  background: $backgroundComponent;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 $steel_gray_120, 0 0 0 1px $steel_gray_80;
}

@mixin button($bgc, $color) {
  padding: 7px 16px 8px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  border-radius: 4px;
  background-color: $bgc;
  color: $color;

  &:hover {
    opacity: .88;
  }
}