.message {
    padding: 8px;
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
    color: black;
}

.message.my_message {
    flex-direction: row-reverse;
}

.message.my_message .avatar {
    margin-left: 10px;
}
.message.my_message .item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message p {
    margin: 2px 0;
}

.message span {
    font-weight: 500;
}

.avatar {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
